<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">

{{ partial "header.html" . }}

<body class="" data-url="{{ .RelPermalink }}">
  {{ partial "menu.html" . }}
  
  <section id="body">
    <div id="overlay"></div>
    <div class="padding highlightable">
      {{/*  {{ if not .IsHome}}  */}}
      {{   partial "body-topbar.html" . }}
      {{/*  {{ end }}  */}}
      <div id="head-tags">
        {{ partial "tags.html" . }}
      </div>
      <div id="{{ if .Params.chapter }}chapter{{end}}">
        <div id="body-inner">
          {{/*  translation switch  */}}
          {{ if .IsTranslated }}
          <nav class="LangNav">
            {{ range .Translations }}
            <!--TODO i18n on Translations-->
            Translations: <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end}}
          </nav>
          {{ end }}

          {{ if and (not .IsHome) (not .Params.chapter) }}
          <h1 id="content_title">
            {{ if eq .Kind "taxonomy" }}
            {{   .Kind }} ::
            {{ end }}
            {{ .Title }}
          </h1>
          {{   if not .IsSection }}
          <p style="text-align:right">{{dateFormat "Monday, Jan 2, 2006" .Date}}</p>
          {{   end }}

          {{ end }}
          {{ block "content" . }} {{ end }}
        </div>
      </div> <!-- end chapter-->
    </div>

    {{ if .IsPage }}
    {{   partial "custom-comments.html" . }}
    {{ end }}
    {{ partial "body-navigation.html" . }}
  </section>
  <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
    <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
  </div>
  {{ partial "body-js.html" . }}
  {{ partial "footer.html" . }}
</body>

</html>
