{{ $pages := .Site.RegularPages }}
{{ $currentLang := .Lang }}
{{ range .AllTranslations }}
{{   if not (eq $currentLang .Lang) }}
{{     $pages = $pages | lang.Merge .Site.RegularPages }}
{{   end }}
{{ end }}
{{ $pag := .Paginate ($pages.ByDate.Reverse) 20 }}
{{   if gt $pag.TotalPages 0 }}
<h2>Recent Posts</h2>
{{   end }}
<ul class="article-list">
  {{ range .Paginator.Pages }}
  <li><a href="{{.RelPermalink}}">{{.Title}} <span style="float:right">{{dateFormat "Monday, Jan 2, 2006" .Date}}</span></a></li>
  {{ end }}
</ul>
{{/*  {{ partial "paginator.html" (dict "context" . "paginator" $pag) }}  */}}
